

li a{
    color: white;
    outline: none;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    line-height: 3;
    opacity:0.8;
    border: 2.7px solid transparent;
    padding: 2.7px;
    
    -webkit-border-image: url("border2.png") 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url("border2.png") 30 stretch; /* Opera 11-12.1 */
    -moz-border-image: url("border2.png") 30 stretch;
    border-image: url("border2.png") 30 stretch;
}

li a:link, a:visited, a:focus {
    
  background-image: url("menu.jpg");
  background-size: 100% 100%;
}

li a:hover {
    opacity:1;
}

li a:active, #hidden-menu:active {

  background-image: url("menu.jpg");
  background-size: 100% 100%;
}

@media (min-width: 726px) {
    .menu-bar{
         font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
        max-width: 2000px;
        width: 40%;
        padding: 0;
        margin: 0;
        position: fixed;
        bottom: 10px;
        left: 30%;
    }

    li{
        
        display: inline;
    }

    li a{

        display: inline-block;
        margin-right: 0.5%;
        width: 29%
    }

    ul li:last-child a{
        margin-right: 0;
    }
}

@media (max-width: 726px) {
    #hidden-menu::after{
        
        content: "Menu";
    }

    #hidden-menu{
        color:white;
        background-image: url("menu.jpg");
        background-size: 100% 100%;
        cursor: pointer;
        position: fixed;
        bottom: 5px;
        left: 30.33%;
        font-size: 1rem;
        text-align: center;
        margin: 0;
        width: 30%;
        height: 40px;
        border: 5px solid transparent;
        padding: 5px;
        -webkit-border-image: url("border2.png") 50 stretch; /* Safari 3.1-5 */
        -o-border-image: url("border2.png") 50 stretch; /* Opera 11-12.1 */
        -moz-border-image: url("border2.png") 50 stretch;
        border-image: url("border2.png") 50 stretch;
        border-radius: 5%;
        line-height: 270%;
    }

    .menu-bar{
         font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
        width: 30%;
        display: none;
        position: absolute;
        padding: 0;
        margin: 0;
        bottom: 63px;
        font-size: 0.8rem;
        left: 32%;
    }

    .menu-bar li{
        list-style-type: none;
    }

    .menu-bar li a{
        margin-bottom:3px;
        height: 40px;
        display: block;
    }

    #hidden-menu:active + .menu-bar, #hidden-menu:hover + .menu-bar{
        display: block;
    }
    .menu:hover #left-panel{
        opacity: 0.4;
    }
    #hidden-menu:active, #hidden-menu:hover{
        background-color: #ABFACD;
    }

    .menu-bar:hover{
        display: block;
    }

}

@media (max-height: 600px) {
    #hidden-menu{
        display: none;
    }
    #menuID{
        display:none;
    }
}

@media (max-height: 600px) {
    #hidden-menu{
        display: block;
    }
    #menuID{
        display: block;
    }
}