
@font-face {
    font-family: 'Cray';
    src: url('DK Crayon Crumble.ttf') format('truetype');
  }
.bottom-button{
    color: white;
    outline: none;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    line-height: 3;
    opacity:0.8;
    border: 2.7px solid transparent;
    padding: 2.7px;
    -webkit-border-image: url("woodBorder.png") 50 stretch; /* Safari 3.1-5 */
    -o-border-image: url("woodBorder.png") 50 stretch; /* Opera 11-12.1 */
    -moz-border-image: url("woodBorder.png") 50 stretch;
    border-image: url("woodBorder.png") 50 stretch;
}

.bottom-button:link, .bottom-button:visited, .bottom-button:focus {
    
  background-image: url("menu.jpg");
  background-size: 100% 100%;
}

.bottom-button:hover {
    opacity:1;
}

.bottom-button:active, #hidden-menu:active {

  background-image: url("menu.jpg");
  background-size: 100% 100%;
}

@media (min-width: 726px) {
    .menu-bar{
        font-family: 'Cray';
        letter-spacing: 1px;
        font-size: 1em;
        max-width: 2000px;
        width: 40%;
        padding: 0;
        margin: 0;
        position: fixed;
        bottom: 10px;
        left: 30%;
    }

    li{
        
        display: inline;
    }

    .bottom-button{
        display: inline-block;
        margin-right: 0.5%;
        width: 29%
    }

}

@media (max-width: 726px) {
    #hidden-menu::after{
        
        content: "Menu";
        font-family: 'Cray';
        letter-spacing: 3px;
        font-size: 1.8rem;
    }

    #hidden-menu{
        color:white;
        background-image: url("menu.jpg");
        background-size: 100% 100%;
        cursor: pointer;
        position: fixed;
        bottom: 5px;
        left: 30.33%;
        text-align: center;
        margin: 0;
        width: 30%;
        height: 40px;
        border: 5px solid transparent;
        padding: 5px;
        -webkit-border-image: url("woodBorder.png") 50 stretch; /* Safari 3.1-5 */
        -o-border-image: url("woodBorder.png") 50 stretch; /* Opera 11-12.1 */
        -moz-border-image: url("woodBorder.png") 50 stretch;
        border-image: url("woodBorder.png") 50 stretch;
        line-height: 270%;
    }
    
    .menu-bar{ 
        font-family: 'Cray';
        letter-spacing: 2px;
        width: 30%;
        display: none;
        position: absolute;
        padding: 0;
        margin: 0;
        bottom: 63px;
        font-size: 1rem;
        left: 33%;
    }

    .menu-bar li{
        list-style-type: none;
    }

    .menu-bar li a{
        margin-bottom:3px;
        height: 40px;
        display: block;
    }

    #hidden-menu:active + .menu-bar, #hidden-menu:hover + .menu-bar{
        display: block;
    }
    .menu:hover #left-panel{
        opacity: 0.4;
    }
    #hidden-menu:active, #hidden-menu:hover{
        background-color: #ABFACD;
    }

    .menu-bar:hover{
        display: block;
    }

}

@media (max-height: 600px) {
    #hidden-menu{
        display: none;
    }
    #menuID{
        display:none;
    }
}

@media (max-height: 600px) {
    #hidden-menu{
        display: block;
    }
    #menuID{
        display: block;
    }
}